.projects-container {
  padding: 5rem 8rem;
  position: relative;
  z-index: 2;
}

.projects-heading {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: left;
  color: white;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
